<!DOCTYPE html>
<html lang="en">ls
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/home" method="get">
        Input Angka <br>
        
        <input type="number" name ="angka"> 
        <br>
        <br>
        <input name="segitiga" type="submit" value="Generate Segitiga" > 
        <input name="ganjil" type="submit" value="Generate Bilangan Ganjil" >
        <input name="genap" type="submit" value="Generate Bilangan Prima" >
    </form>
</body>
</html>